* {
    margin: 0;
    padding: 0px;
}

.block {
    width: 50%;
    border: 3px solid aquamarine;
    background-color: lightyellow;
    padding: 0.5rem;
}

span {
    font-size: 0.8rem;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 5%;
}